.ant-tabs-nav-wrap{
    .ant-tabs-tab{
        color: #586380;
        font-size:14px;
        font-weight: 600;
        border-bottom: 2px solid transparent;
        &:hover{
            color: #423ed8;
            border-bottom: 2px solid #423ed8;
        }
        &.ant-tabs-tab-active{
            .ant-tabs-tab-btn{
                color: #423ed8 !important;
            }
            border-bottom: 2px solid #423ed8 !important;
        }

    }
    .ant-tabs-ink-bar{
        background: #423ed8;
    }
}